# Ignoriere die Datenbankdatei
data.db

# Ignoriere den virtuellen Environment-Ordner
myenv/

# Ignoriere den virtuellen Environment-Ordner
env/



# Zusätzlich häufig ignorierte Dateien
__pycache__/
*.pyc
*.pyo
*.pyd

